services:
  server-dev:
    profiles: ["dev"]
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    env_file:
      - .env.development
    depends_on:
      postgis-dev:
        condition: service_healthy
    command: npm run start:dev

  server-prod:
    profiles: ["prod"]
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    depends_on:
      postgis-prod:
        condition: service_healthy
    restart: always

  postgis-dev:
    profiles: ["dev"]
    image: postgis/postgis
    restart: always
    env_file:
      - .env.development
    ports:
      - "5431:5432"
    volumes:
      - postgis_data_dev:/var/lib/postgresql/data
    networks:
      default:
        aliases:
          - postgis
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $${POSTGRES_USER:-postgres} -d $${POSTGRES_DB:-forex_finder} -h localhost || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  postgis-prod:
    profiles: ["prod"]
    image: postgis/postgis
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgis_data:/var/lib/postgresql/data
    networks:
      default:
        aliases:
          - postgis
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $${POSTGRES_USER:-postgres} -d $${POSTGRES_DB:-forex_finder} -h localhost || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgis_data:
  postgis_data_dev:
